body{
text-align:center;
background-color:#000000;
}

img{
border-radius:5px;
border-style:solid;
border-color:whitesmoke;
border-width:10px;
padding:10px;
  height:2px

}
h1,h2{
text-shadow:1px 1px #FAFAFA;
font-size:30px;
  font-family:cursive;

}
p{
  font-family:cursive;
font-size:20px;
  color:#F5F5F5;
 
}
.line{
  height:6px;
    width:70px;
    background-color: black;
    margin: 8px auto;
}
